extends ../../layouts/master
block content

  .btn-toolbar(role='toolbar')
    .btn-group(role='group')
      a.btn.btn-default(href='/albums/new'): i.fa.fa-plus
    .btn-group(role='group')
      a.btn.btn-default(href='/albums'): i.fa.fa-camera
    .btn-group(role='group')
      a.btn.btn-default(href='/albums?sort=date'): i.fa.fa-arrow-up
    .btn-group(role='group')
      a.btn.btn-default(href='/albums?sort=-date'): i.fa.fa-arrow-down

  h3 Album Listing

  #albums
    each album in albums
      .album
        .panel.panel-default
          .panel-heading
            h3.panel-title: a(href='/albums/#{album._id}')= album.name
          .panel-body
            img(src=primary(album))
          .panel-footer= moment(album.date).format('MMMM Do YYYY')
